@keyframes ball {
  0% {
    border-width: 5vh 0 0 0;
 }
  100% {
    border-width: 0 0 5vh 0;
 }
}
@keyframes rotate {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
 }
  100% {
    transform: rotate3d(0, 0, 1, 360deg);
 }
}
@keyframes bounce {
  0% {
    transform: translate3d(0, 0, 0) scale3d(0.9, 1.05, 1);
 }
  100% {
    transform: translate3d(0, 10vh, 0) scale3d(1.1, 0.8, 1);
 }
}
@keyframes shadow {
  0% {
    transform: scale3d(0.6, 0.6, 1);
    background-color: rgba(0, 0, 0, 0.1);
 }
  100% {
    transform: scale3d(1, 1, 1);
    background-color: rgba(0, 0, 0, 0.3);
 }
}
*, *::after {
  margin: 0;
}
ballbody {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 380px;
  padding-top: 50px
}
scene, bounce, bounce::after, ball, shadow {
  display: block;
  width: 10vh;
}
scene {
  height: 20vh;
  position: relative;
}
bounce, bounce::after, ball {
  height: 10vh;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}
bounce {
  animation: bounce 500ms ease-in infinite alternate;
}
bounce::after {
  content: "";
  border-width: 0 0 2.5vh 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
}
ball {
  border-style: solid;
  border-color: palevioletred;
  border-radius: 50%;
  background-color: white;
  animation: ball 1000ms ease-in-out infinite alternate, rotate 3000ms linear infinite;
}
shadow {
  height: 2.5vh;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
  animation: shadow 500ms ease-in-out infinite alternate;
}
