@import url(../materialize/css/materialize.css);
@import url(./cards.css);
@import url(./glow.css);
@import url(./font_styles.css);
@import url(./rating_stars.css);

@font-face { font-family: LoveloBold; src: url(Lovelo-LineBold.otf); }
@font-face { font-family: LoveloLight; src: url(Lovelo-LineLight.ttf); }

html { height: 100%; background-repeat: no-repeat; }

body
{
  height: 100%;
  animation-name: backgroundColorPalette;
  background-blend-mode: luminosity;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

body::before
{
  background: url('admin_background.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;
  filter: grayscale();
}

@keyframes backgroundColorPalette
{
  0% { background: #f700ff5d url('admin_background.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; }
  50% { background: #a6ff006b url('admin_background.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; }
  100% { background: #00ccff6e url('admin_background.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; }
}

nav { height: 100px; line-height: 100px; }

thead { border-bottom: 1.5px solid cyan; }

.shadow-img { box-shadow: 0px 4px 20px 1px black; }

.section
{
  background-color: rgba(56, 56, 56, 0.7);
  backdrop-filter: blur(10px);
}

.page-title
{
  color: white;
  text-shadow: black 4px 0px 8px,
  black -4px 0px 8px,
  black 0px 4px 8px,
  black 0px -4px 8px;
}

.carousel-magic
{
  color: white;
  text-shadow: black 1px 1px 4px, black -1px -1px 4px;
  background-repeat: no-repeat;
  background-size: cover;
}

.content { min-height: 100%; }

.wide-container
{
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}