.rounded-card-parent
{
  box-shadow: black 4px 4px 8px 2px;
  border-radius: 50px;
  transition: 0.3s cubic-bezier(0.8, 0, 0.2, 1);
}

.rounded-card-parent:hover { border-radius: 20px; }

.rounded-card
{
  color: white;
  padding: 40px;
  clip-path: inset(0px 0px round 50px 50px);
  background-color: rgba(56, 56, 56, 0.7);
  backdrop-filter: blur(10px);
  transition: 0.3s cubic-bezier(0.8, 0, 0.2, 1);
}
.rounded-card:hover { clip-path: inset(0px 0px round 20px 20px); }

.rounded-card.tint-glass-black { background-color: rgba(0, 0, 0, 0.5); }
.rounded-card.tint-glass-cyan { background-color: rgba(0, 170, 200, 0.5); }
.rounded-card.tint-glass-brown { background-color: rgba(128, 73, 0, 0.5); }
.rounded-card.blurer { backdrop-filter: blur(20px); }

.collapsible-card
{
  color: white;
  background-color: rgba(0, 52, 63, 0.8);
  backdrop-filter: blur(20px);
}
.collapsible-card:hover { box-shadow: black 4px 4px 20px 2px; }

.selectable-card
{
  color: white;
  padding: 20px;
  background-color: rgba(56, 56, 56, 0.7);
  border-radius: 20px;
  box-shadow: black 4px 4px 8px 2px;
  backdrop-filter: blur(15px);
  transition: 0.2s cubic-bezier(0.8, 0, 0.2, 1);
}
.selectable-card:hover { box-shadow: black 8px 8px 24px 4px; }

.selectable-card.item { margin: 20px; }

.selectable-card.tint-glass-black { background-color: rgba(0, 0, 0, 0.5); }
.selectable-card.tint-glass-cyan { background-color: rgba(0, 170, 200, 0.5); }
.selectable-card.tint-glass-brown { background-color: rgba(128, 73, 0, 0.5); }
.selectable-card.tint-glass-white { background-color: rgba(202, 202, 202, 0.3); }
.selectable-card.blurer { backdrop-filter: blur(20px); }

.payable-cards
{
  background-color: white;
  box-shadow: 0px 0px 10px;
  border-radius: 5px;
  padding: 5px;
}

