.light-weight-text { font-weight: initial; }
.bold { font-weight: bold; }
.italic { font-style: italic; }

.prompt-warning { color: yellow; font-style: italic; }

.errormsg { color: red; font-weight: bold; }

.lovelo { font-family: LoveloBold; }